<!DOCTYPE html>
<html lang="en">
	<%- include('./partials/head.ejs') %>
	<body class="container">
		<%- include('./partials/navbar.ejs') %> <%- include('./partials/landing-page.ejs') %>
		<%-include('./partials/about-website.ejs') %>

		<div class="container__searchBar">
			<form
				action="/company-search"
				id="searchBar"
				type="text"
				class="search-company-form"
				method="POST"
				autocomplete="off"
			>
				<input
					class="searchBar"
					autocomplete="off"
					id="searchBarInput"
					name="searchBar"
					type="search"
					action="/admin/search"
					method="POST"
					placeholder="Type to select NASDAQ-100 company and press ENTER"
				/>
			</form>
		</div>
		<br />

		<% if(companyName != null) { %> <%- include('./partials/company-overview.ejs') %>
		<%if(companyPayoutRatio != "0") { %> <%- include('./partials/dividend.ejs') %> <% } %> <% }
		else { %>

		<div class="container__timepass-div">
			<img
				class="timepass-background"
				style="position: absolute; z-index: 1"
				src="img/bk-image.svg"
				height="100%"
				width="100%"
			/>
			<p class="timepass-text" style="position: absolute; z-index: 10">
				Enter any NASDAQ-100 company name above in the search bar to view a particular
				company's performance through Key Fundamental Parameters and Ratios.
			</p>
		</div>
		<% } %>

		<div class="container__future-work">
			<div class="container__future-work__text-box">
				<h4 class="heading-about-section">
					Watch this space for more exciting content coming up!
				</h4>
				<p class="feature_text">
					Our work shall not just be limited to NASDAQ-100 companies. We have great plans
					ahead to bring visualizations for all markets! Also, look out for some more
					exciting features using AI to help you better understand the economic data.
				</p>
			</div>

			<div class="container__future-work__logo-box">
				<img
					class="about-section-futurework"
					src="img/future-work.svg"
					height="350"
					width="350"
				/>
			</div>
		</div>

		<div class="container__contact-form" id="contact-us">
			<div class="container__contact-form__image">
				<img
					class="about-section-futurework"
					src="img/contact-form.svg"
					height="300"
					width="300"
				/>
			</div>

			<div class="container__contact-form__form">
				<div class="contact-form-header">We would love to hear from you!</div>
				<form role="form" method="POST" action="/contact-form" id="reused_form">
					<label for="name">Name</label>
					<input
						type="text"
						id="name"
						name="name"
						placeholder="Your name here"
						required
					/>

					<label for="email">E-mail</label>
					<input
						type="text"
						class="form-control"
						id="email"
						name="email"
						required
						placeholder="Your e-mail here"
					/>

					<label for="message">Message</label>
					<textarea
						id="message"
						type="text"
						name="message"
						placeholder="Your message here"
						maxlength="6000"
						required
						style="height: 15vh"
					></textarea>

					<input class="submit" type="submit" value="Submit" />
				</form>
			</div>
		</div>

		<div class="container__footer">
			<p>&copy; Copyright 2020. mydatanomix.com. All Rights Reserved.</p>
			<div style="font-size: 10px; padding-top: 25px">
				Icons made by
				<a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from
				<a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
			</div>
		</div>
		<script>
			$(function () {
				$("#searchBarInput").autocomplete({
					source: function (req, res) {
						console.log("Rx data from searchBar:");
						//console.log(req);
						var sendData = req;
						$.ajax({
							url: "/autocomplete/",
							dataType: "jsonp",
							method: "GET",
							data: sendData,
							success: function (data) {
								console.log(data);
								res(data);
							},
							error: function (err) {
								console.log(err.status);
							},
						});
					},
					autoFocus: true,
					delay: 300,
					minLength: 1,
					select: function (event, ui) {
						if (ui.items) {
							$("#searchBar").val(ui.item.label);
						}
					},
				});
			});
		</script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<link
			rel="stylesheet"
			href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css"
		/>
		<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
	</body>
</html>
